<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>FAKE NEWS</title>
    <link href="../static/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="navbar">
      <a href="/" class="left">
        <format class="ha1">FAKE </format>
        <format class="ha2">NEWS</format><br>
      </a>
      <a href="/login" class="right">Login</a>
      <a href="/archive" class="right">Archive</a>
    </div>
    <div class="row">
      <div class="main">
        <h1>Sample Text</h1>
        <p>Я пока не придумал название для этой новости. Но похоже, что утекла какая-то очень важная информация. Пока не очень понятно для чего она, однако мои источники говорят, что это что-то на уровне сверх секретной инфы, уууу... Все что есть это строка: flag{B4s1C_SQL_1nj_1TM02021} </p><hr class="solid">    
      </div>
    </div>
  </body>   
</html>