<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>FAKE NEWS</title>
    <link href="../static/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="navbar">
      <a href="/" class="left">
        <format class="ha1">FAKE </format>
        <format class="ha2">NEWS</format><br>
      </a>
      <a href="/login" class="right">Login</a>
      <a href="/archive" class="right">Archive</a>
    </div>
    <div class="row">
      <div class="side">
        <b>ПОСЛЕДНИЕ НОВОСТИ</b>
        <p>Опасно! Скоро отчисление!</p>
        <p>Аномальная жара в СПб посреди зимы?</p>
        <p>2021 => 2012 Конец света к концу года</p>
        <p>Наш вебсайт тепепь работает!</p>
        </div>
      <div class="main">
        <h1>Опасно! Скоро отчисление!</h1>
        <p>Уважаемый студент, если в тебе осталась хоть капля уважения, поторопись со сдачей лаб! Преподаватели тоже люди и ждут от тебя результата! Не повторяйте моих ошибок! А то все может закончиться очень...</p><hr class="solid">
        <h1>Аномальная жара в СПб посреди зимы?</h1>
        <p>Никогда такого не было и вот опять. Жители Санкт-Петербурга рассказывают об аномально высокой температура в конце декабря. Все ожидали -50 градусов по цельсию, но на данный момент температура составляет...</p><hr class="solid">
        <h1>2021 => 2012 Конец света к концу года</h1>
        <p>Майа были правы, но опечатались. Их предсказание о конце света в 2012ом году на самом деле указывало на конец 2021ого года. Всем срочно подготовиться и в кротчайшие сроки принять позу удобную для падающих метеоритов. Шоу начнется ...</p><hr class="solid">
        <h1>Наш вебсайт теперь работает!</h1>
        <p>Приветствуем всех на лучшем новостном портале, где только истина (такая, какой ее видим мы)</p><hr class="solid">
      </div>
    </div>
  </body>   
</html>